
<div class="dashboard bg-light mt-0 p-3">
    <div class="">
        <div class="d-flex justify-content-between mb-5">
            <div>
                <h3>Admin Dashboard</h3>
                <p>Manage users and system settings</p>
            </div>
            <button class="btn btn-primary" (click)="showAddFrom=true">
                <i class="fa-user-plus fa-solid"></i> 
                Add User</button>
        </div>
        <div class="bg-white p-3 user-managment">
            <div class="d-flex align-items-baseline gap-4">
                <i class="fa-solid fa-users"></i>
                <h6>User Management</h6>
            </div>
            <p>View and manage all registered users</p>
            <div>
                <table class="table  align-middle">
        
        
                    <thead>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th colspan="2">Actions</th>
        
                    </thead>
        
                    <tbody>
                        @for(user of usersData;track $index){
                        <tr class="py-5 px-0">
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone}}</td>
                            @if(user.role==='Admin'){
                            <td>
                                <div class="admin">{{user.role}}</div>
                            </td>
                            }
                            @else {
                            <td>
                                <div class="user">{{user.role}}</div>
                            </td>
                            }
        
                            @if(user.isActive){
                            <td>
                                <div class="active-user">Active</div>
                            </td>
                            <td class="d-flex ">
        
                                <button type="button"
                                    class="btn btn-secondary text-center align-middle bg-light action-buttons" (click)="user.role==='User'&&toggleUserStatus($index)">
                                    <i class="fa-solid fa-toggle-off  d-inline mx-2"></i>Deactivate</button>
                            </td>
        
        
        
                            }
                            @else {
                            <td>
                                <div class="inactive-user">Inactive</div>
                            </td>
                            <td class="">
                                <div class="d-flex flex-row">
                                    <button type="button" class="btn btn-secondary bg-light action-buttons" (click)="user.role==='User'&&toggleUserStatus($index)">
                                        <i class="fa-solid fa-toggle-on  mx-2"></i>Activate</button>
                                </div>
        
                            </td>
        
        
                            }
        
        
        
                            <td class="align-middle">
                                <div class="d-flex justify-content-center gap-2">
                                    <button class="btn bg-light action-buttons" (click)="showEditFrom=true; showEditdata($index)"><i class="fa-solid fa-edit"></i></button>
                                    <button class="btn bg-light action-buttons" (click)="user.role==='User'&&deleteUser($index)"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </td>
                        </tr> }
                    </tbody>
        
                </table>
            </div>
        </div>
    
        </div>

@if(showEditFrom){
    <div class="container edituserform mb-5">
        <h5>Edit User</h5>
        <p>Update user information</p>
        <form action="" [formGroup]="editUserForm">
            <div class="d-flex justify-content-between">
                <div class="mb-3 d-inline">
                    <label for="exampleFormControlInput1" class="form-label">Username</label>
                    <input type="text" class="form-control " id="exampleFormControlInput1" placeholder="name@example.com"
                        formControlName="username">
                </div>
                
                <div class="mb-3 d-inline">
                    <label for="exampleFormControlInput1" class="form-label">Password (leave empty to keep current)</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                        formControlName="password">
                    </div>
            </div>
           
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="email">
            </div>
            <div class="d-flex justify-content-between">
            <div class="mb-3 d-inline ">
                <label for="exampleFormControlInput1" class="form-label">Phone</label>
                <input type="tel" class="form-control w-100" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="phone">
            </div>
            <div class="mb-3 d-inline ">
                <label for="exampleFormControlInput1" class="form-label">Role</label>
                <input type="text" class="form-control w-100" id="exampleFormControlInput1" placeholder="name@example.com"
                formControlName="role">
            </div>
            </div>

            <div class="d-flex justify-content-end gap-3 mt-2">
                <button type="button" class="btn btn-outline-secondary text-black" (click)="showEditFrom=false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="editUser()">Update User</button>
            </div>   
        </form>
    </div>
    
}
@if(showAddFrom){
<div class="container edituserform mb-5">
    <h5>Add New User</h5>
    <p>create new user account</p>
    <form action="" [formGroup]="addUserForm">
        <div class="d-flex justify-content-between">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" class="form-control w-100" 
                    placeholder="enter user name" formControlName="username">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password </label>
                <input type="password" class="form-control w-100" 
                    placeholder="enter your password" formControlName="password">
            </div>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control"  placeholder="name@example.com"
                formControlName="email">
        </div>
        <div class="d-flex justify-content-between">
            <div class="mb-3 d-inline ">
                <label for="exampleFormControlInput1" class="form-label">Phone</label>
                <input type="tel" class="form-control w-100" 
                    placeholder="011111111111" formControlName="phone">
            </div>
            <div class="mb-3 d-inline ">
                <label for="exampleFormControlInput1" class="form-label">Role</label>
                <input type="text" class="form-control w-100" 
                    placeholder="User" formControlName="role">
            </div>
        </div>

        <div class="d-flex justify-content-end gap-3 mt-2">
            <button type="button" class="btn btn-outline-secondary text-black" (click)="showAddFrom=false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="addNewUser()">Add User</button>
        </div>
    </form>
</div>

}
</div>