<div class="bg-light">
    <div class="container flexc">
        <section class="flexc">
            <div class="welcome-icon">
                <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="2" y="6" width="20" height="12" rx="2" stroke="#4A90E2" stroke-width="2" fill="none" />
                    <path d="M6 10h12M6 14h8" stroke="#4A90E2" stroke-width="2" stroke-linecap="round" />
                </svg>
            </div>

            <h3 #user class="fw-bold font-size"></h3>
            <p class="p1">Access your account and manage your finances securely</p>
        </section>
    </div>
    <section class="d-flex">
        <div class="flexc container border-1 card align-items-start ">
            <div class="flexc g-4 ">
                <div class=" d-flex align-items-center">
                    <div class="card-icon"><i class="fa-solid fa-users fa-icon"></i></div>

                    <h3>User Managment</h3>
                </div>
                <p class="t">Manage all users and their pemessions</p>

            </div>
            <button class="btn btn-light " routerLink="/admin/admin-panel">Get Started <i
                    class="fa-solid fa-arrow-right"></i></button>
        </div>

        

       
    </section>
</div>

